body {
  margin: 0;
  background: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

#game {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 40px auto;
  background: #222;
  border: 2px solid #555;
}

/* プレイヤー */
#player {
  position: absolute;
  bottom: 20px;
  left: 140px;
  width: 20px;
  height: 20px;
  background: #00ff66;
}
