#player {
  position: absolute;
  width: 40px;
  height: 40px;

  /* ★この値をレンガの上に乗る位置に */
  bottom: 30px;   /* ← ここを調整 */
  
  background: lime;
  border: 3px solid white;
  box-shadow: 0 0 10px lime;
  border-radius: 5px;
}
