#player {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 80px;

  background: #00ff00;
  border: 2px solid white;
  border-radius: 4px;

  /* ドット感 */
  image-rendering: pixelated;
}

/* 左の目 */
#player::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  background: white;
  left: 9px;
  top: 10px;
}

/* 右の目 */
#player::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  background: white;
  right: 9px;
  top: 10px;
  }
